/* Style for the entire page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
  }
  
  /* Style for the header */
  header {
    background-color: #157878;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Style for the navigation bar */
  nav {
    background-color: #157878;
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #fff;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}
  
  /* Style for the main content section */
  section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  /* Style for the section titles */
  h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Style for the section subtitles */
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Style for the footer */
  footer {
    background-color: #0072c6;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  #names {
    text-align: center;
  }